:host{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-home{
    flex: 1;
}

.main-content{
    display: flex;
    flex-direction: row;
}

app-basket{
    margin-left: auto;
}